/* TypForge stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* ========================= Main theme defintions ========================= */

:root {
    --main-accent: #3AAFA9;
    --secondary-accent: #2B7A78;
    --dark: #1E2E35;
    --dark-secondary: #1A1F24;
    --light-main: #DEF2F1;
    --text-dark: #111111;
    --text-light: #EEEEEE;

    --link: #CCCCCC;
    --link-hover: #999999;
    --link-visited: #BE6EDF;

    --dot-size: 2px; /* Size of the dots */
    --dot-spacing: 20px; /* Spacing between dots */
}

html {
    font-size: 120%;
	background-color: var(--dark-secondary);
    background-image: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.1) var(--dot-size),
        transparent var(--dot-size)
    );
    background-size: var(--dot-spacing) var(--dot-spacing);
    background-position: 0 0;
}

body {

    color: white;
    font-family: "Nunito Sans";
    padding: 2rem;
}

a:link {
    color: var(--link);
}
a:hover {
    color: var(--link-hover);
}
a:visited {
    color: var(--link);
}
a:visited:hover {
    color: var(--link-hover);
}

h1, h2, h3 {
    font-family: "Montserrat";
}

/* ===================== End of main theme defintions ====================== */

.small-input {
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: #FFFFFF11;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    width: fit-content;
}

#typst-input {
    resize: none;
    width: 100%;
    background-color: transparent;
    color: white;
}

.output-container {
    display: flex;
}
.output-container > * {
    width: 50%;
}
.output-container > div > h2 {
    text-align: center;
}
